Repository smashedr/test-workflows, changes with the labels that .github/labeler.yaml gives for each.
All labels: documentation, source

Docs Pull
  docs/test.md
Labels: documentation

Add Source
  src/index.js
Labels: source

labels.yaml
  .github/labels.yaml
Labels: none

labels.yaml
  .github/labels.yaml
Labels: none

labels.yaml
  .github/labels.yaml
Labels: none

Test configs
  .github/labels.yaml
  .github/workflows/push.yaml
Labels: none

Test configs
  .github/workflows/push.yaml
Labels: none

Test configs
  .github/workflows/push.yaml
Labels: none

Test configs
  .github/workflows/push.yaml
Labels: none

Test configs
  .github/workflows/push.yaml
Labels: none

Test configs
  .github/workflows/push.yaml
Labels: none

Test configs
  .github/workflows/push.yaml
Labels: none

Label Creator
  .github/workflows/push.yaml
Labels: none

.github/labeler.yaml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

source:
  - changed-files:
      - any-glob-to-any-file: "src/**"
